.priceChart {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.loadingChart {
  text-align: center;
  width: 100%;
  height: 464px;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
